

  <div class="banana"></div>

  <div class="logo">

  <%= image_tag("logo.png", size: "100x115", id: "monkey")%>

  </div>

  <div class="buttonplay">
    <%= link_to "PLAY", questions_path, id: "playbutton" %>

  </div>
